<h1>Instagram#authorize</h1>
<p>Find me in app/views/instagram/authorize.html.erb</p>
<p><a href="" class="btn btn-large btn-primary" ng-click="App.Instagram.authorize()">Authorize</a>
<p ng-init="App.Instagram.checkAccessToken()">
	Check for access_token <code>{{App.user.access_token}}</code> and save it.
</p>
<pre>{{App.user | json}}</pre>
