<div class="container-fluid">
	<div id="content" class="row-fluid">
		<div class="span12">
			<!--ul class="breadcrumb">
			<li><a href="/">Home</a> <span class="divider">/</span></li>
			<li><a href="/instagram">Instagram</a> <span class="divider">/</span></li>
			<li class="active">{{App.current_page}}</li>
			</ul-->
			<div class="page-header hidden">
				<span class="pull-right">
					<small>
						{{App.data.timestamp | date:'medium'}}
					</small> </span>
				<h1>Instagram <span>{{App.current_page}}</span></h1>
			</div>
			<article class="row-fluid" ng-init="App.init()">
				<section class="span12">	


					<ul id="banjo-tiles" class="thumbnails tiles">
						<li class="span3 tile" ng-repeat="item in App.data.items" id="tile_{{$index}}" style='display:none'>
							<!-- @TODO: [Banjo Tile Directive] -->
							<banjo-tile id="{{item.id}}"
							index="{{$index}}"
							image="{{item.images.thumbnail.url || item.profile_picture}}"
							description="{{item.caption.text || item.bio}}"
							username="{{item.user.username || item.username}}"
							comments=""
							click="App.selectTile(item);"
							likes=""></banjo-tile>
							<!---->
						</li>
					</ul>
					
					
					
					<!-- @TODO: [Tile Details] -->
					<div class="modal fade hide" id="tileDetailModal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								×
							</button>
							<h3>{{App.selectedTile.user.username || App.selectedTile.username}}</h3>
						</div>
						<div class="modal-body">
							<img ng-show="App.selectedTile.images.standard_resolution.url" ng-src="{{App.selectedTile.images.standard_resolution.url}}"/>
							<div class="row-fluid" ng-show="App.selectedTile.profile_picture">
								<div class="span4">
									<img ng-src="{{App.selectedTile.images.standard_resolution.url || App.selectedTile.profile_picture}}"/>
								</div>
								<div class="span8">
									<dl class="dl-vertical">
										<dt ng-show="App.selectedTile.full_name">
											Name:
										</dt>
										<dd>
											{{App.selectedTile.full_name}}
										</dd>
										<dt ng-show="App.selectedTile.website">
											Website:
										</dt>
										<dd>
											<a href="{{App.selectedTile.website}}" target="_blank">{{App.selectedTile.website}}</a>
										</dd>
										<dt ng-show="App.selectedTile.bio">
											Bio:
										</dt>
										<dd>
											{{App.selectedTile.bio}}
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>


					<!-- @TODO: [User Details] -->	
					<div class="modal hide fade" id="userDetailModal">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">×</button>
					    <h3>User Detail</h3>
					  </div>
					  <div class="modal-body">
						<pre>{{App.selectedTile.user | json}}</pre>
					  </div>
					  <div class="modal-footer">
					    <a href="#" class="btn" data-dismiss="modal">Close</a>
					  </div>
					</div>


					<!-- @TODO: [Comment Details] -->
					<div class="modal hide fade" id="commentsDetailModal">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">×</button>
					    <h3> {{App.selectedTile.comments.count}} Comments</h3>
					  </div>
					  <div class="modal-body">

						<div class="media" ng-repeat="comment in App.selectedTile.comments.data">
						  <a class="pull-left" href="#">
						    <img class="media-object" src="http://placehold.it/64x64" ng-src="{{comment.from.profile_picture}}" style="height:64px;">
						  </a>
						  <div class="media-body">
						    <h4 class="media-heading">{{comment.from.username}}</h4>
						    <p>{{comment.text}}</p>
						  </div>
						</div>
						
					  </div>
					  <div class="modal-footer">
					    <a href="#" class="btn" data-dismiss="modal">Close</a>
					  </div>
					</div>
					
					<!-- @TODO: [Like Details] -->
					<div class="modal hide fade" id="likesDetailModal">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">×</button>
					    <h3>{{App.selectedTile.likes.count}} Likes</h3>
					  </div>
					  <div class="modal-body">
					    
					    <div class="media" ng-repeat="like in App.selectedTile.likes.data">
						  <a class="pull-left" href="#">
						    <img class="media-object" src="http://placehold.it/64x64" ng-src="{{like.profile_picture}}" style="height:64px;">
						  </a>
						  <div class="media-body">
						    <h4 class="media-heading">{{like.username}}</h4>
						    <p>{{like.full_name}}</p>
						  </div>
						
					    
					  </div>
					  <div class="modal-footer">
					    <a href="#" class="btn" data-dismiss="modal">Close</a>
					  </div>
					</div>



						<!-- @TODO: [Banjo Tile Directive] -->						
						<div id="tmpl_banjo_tile" class="item hidden">
							<div class="tile">
								<div class="tile-inner">
									<div class="tile-img">
										<a data-toggle="modal" href="#tileDetailModal" ng-click="App.selectTile(item);">
										<img id="tile_{{$index}}_img" class="pic" src="http://placehold.it/200x200" ng-src="{{item.images.low_resolution.url}}"/>
										</a>
										<div class="description">
											{{item.caption.text}}
										</div>
									</div>
									<div class="meta clearfix">
										<div class="pull-left">
											<div class="username">
												{{item.user.username}}
											</div>
										</div>
										<div class="pull-right links">
											<a data-toggle="modal" href="#commentsDetailModal"> <%= image_tag 'tile-comment.png' %> </a>
											<a data-toggle="modal" href="#likesDetailModal"> <%= image_tag 'tile-heart.png' %> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Tile Template -->
						<script id="tmpl-banjo-tile" type="text/x-handlebars-template">
							<div class="tile">
								<div class="tile-inner">
									<div class="tile-img">
										<a data-toggle="modal" href="#tileDetailModal" ng-click="App.selectTile(item);">
										<img id="tile_{{$index}}_img" class="pic" src="http://placehold.it/200x200" ng-src="{{item.images.low_resolution.url}}"/>
										</a>
										<div class="description">
											{{item.caption.text}}
										</div>
									</div>
									<div class="meta clearfix">
										<div class="pull-left">
											<div class="username">
												{{item.user.username}}
											</div>
										</div>
										<div class="pull-right links">
											<a data-toggle="modal" href="#commentsDetailModal"> <%= image_tag 'tile-comment.png' %> </a>
											<a data-toggle="modal" href="#likesDetailModal"> <%= image_tag 'tile-heart.png' %> </a>
										</div>
									</div>
								</div>
							</div>
						</script>

				</section>
			</article>
		</div>
	</div>
</div>