<br/>
<div class="container">
  <div class="row-fluid">
    <div class="span7">
      <div class="pull-left" style="margin-right:15px">
          <img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=80&d=mm&r=g" class="img-polaroid"/>
      </div>

      <h2>jonniespratley</h2>
      <p>
        <strong>Jonnie Spratley</strong> <a href="#">http://jonniespratley.me</a>
      </p>
    </div>
    <div class="span5">
      <ul class="inline">
        <li>Photos <span class="badge">100</span></li>
        <li>Followers <span class="badge">50</span></li>
        <li>Following <span class="badge">130</span></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="row-fluid" ng-init="App.Instagram.User.getRecent();">
    <div class="span12">
      <ul class="thumbnails user-tiles">
        <li class="span2" ng-repeat="item in App.Instagram.User.data.feed.data" id="tile_{{$index}}">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/100x100" ng-src="{{item.images.thumbnail.url}}"/>
            <div class="meta">
              <i class="icon-heart"></i> {{item.likes.count}}
            
              <i class="icon-comment"></i> {{item.comments.count}}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>