<br/>

  <div class="row-fluid">
    <div class="span7">
      <div class="pull-left" style="margin-right:15px">
          <img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=80&d=mm&r=g" class="img-polaroid"/>
      </div>

      <h2>jonniespratley</h2>
      <p>
        <strong>Jonnie Spratley</strong> <a href="#">http://jonniespratley.me</a>
      </p>
    </div>
    <div class="span5">
      <ul class="inline">
        <li>Photos <span class="badge">100</span></li>
        <li>Followers <span class="badge">50</span></li>
        <li>Following <span class="badge">130</span></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="row-fluid">
    <div class="span12">
      <ul class="thumbnails">
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/150x150"/>
            <div class="meta">
              <i class="icon-heart"></i> 3
            
              <i class="icon-comment"></i> 0
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>



<p><a href="" class="btn btn-large btn-primary" ng-click="App.Instagram.authorize()">Authorize</a>
<p ng-init="App.Instagram.checkAccessToken()">
	Check for access_token <code>{{App.Instagram.access_token}}</code> and save it.
</p>
<pre>{{App.user | json}}</pre>
