/* @group Base */

html, body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #353535 !important;
  color: #eee;
}

#app-loader {
  padding: 8px;
  width: 100px;
  margin: 25px auto;
  display: block;
  position: absolute;
  top: 25px;
  left: 45%;
  z-index: 99999;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#content {
  min-height: 350px;
}

footer p {
  text-align: center;
  display: block;
  color: #888;
}

/* @end */

/* @group Header */

.brand:hover {
  background-color: transparent;
}

/* @end */

/* @group Navbar */

.navbar {
  ul.nav {
    margin-top: 15px;
  }
  .btn {
    margin-left: 20px;
    border-radius: 10px;
    color: #fff !important;
    &:hover {
      background-color: #222 !important;
      color: #888 !important;
    }
  }
  &.navbar-inverse .navbar-inner {
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    background-image: -moz-linear-gradient(top, #28e5f5, #157b86);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#157b86));
    background-image: -webkit-linear-gradient(top, #28e5f5, #157b86);
    background-image: -o-linear-gradient(top, #28e5f5, #157b86);
    background-image: linear-gradient(to bottom, #28e5f5, #157b86);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
  }
  .navbar-search {
    margin-top: 25px;
  }
  input.search-query {
    background: #111 !important;
    &:focus {
      color: #ffffff !important;
      text-shadow: none !important;
    }
  }
}

/* @end */

/* @group Tiles */

.tiles {
  margin-top: 20px;
}

.tile {
  margin-top: 10px !important;
  margin-left: 10px !important;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background-color: #555454;
  padding: 8px;
  border: 1px solid #777777;
  border-radius: 5px;
  background: #434242;
  color: white;
  opacity: .8;
  .pic {
    height: 220px;
    width: 100%;
  }
  .meta {
    padding: 8px 5px;
  }
  .links a {
    display: inline-block;
    padding: 2px;
    margin-left: 15px;
  }
  .meta {
    .username {
      font-size: 12px;
    }
    i {
      margin-left: 25px;
    }
  }
}

.tile-inner .tile-img {
  position: relative;
}

.tile {
  &:hover {
    border-color: #16b0bf;
    -webkit-box-shadow: 0 5px 5px rgba(0, 105, 214, 0.5);
    -moz-box-shadow: 0 5px 5px rgba(0, 105, 214, 0.5);
    box-shadow: 1px 5px 5px rgba(0, 105, 214, 0.5);
    opacity: 1;
    .description {
      display: block;
      opacity: 0.7;
    }
  }
  .description {
    -webkit-transition: opacity 600ms ease-in-out;
    -moz-transition: opacity 600ms ease-in-out;
    -o-transition: opacity 600ms ease-in-out;
    -ms-transition: opacity 600ms ease-in-out;
    transition: opacity 600ms ease-in-out;
    display: block;
    position: absolute;
    overflow: auto;
    max-height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    padding: 5px;
    opacity: 0;
  }
}

/* @end */
/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  html, body {
    padding: 0 !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  html, body {
    padding-top: 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {}