// Place all the styles related to the Instagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #353535 !important; 
}

.instagram-app{
  /* @group Base */
  h1, small, p {
    color: #fff;
  }
  
  #app-loader {
    
    width: 32px;
    display:inline-block;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  #content {
    min-height: 350px;
  }
  
  footer p {
    text-align: center;
    display: block;
    color: #888;
  }  
  /* @end */
 
   
  /* @group Navbar */
  .navbar {
    .brand:hover {
      background-color: transparent;
    }
    .nav
      .btn {
        
        padding: 5px 20px !important;
        margin-left: 20px;
        border-radius: 10px;
        color: #fff !important;
        //background-image: url('btn-up.png');
        &:hover {
          background-color: #222 !important;
          color: #888 !important;
        }
      }
    .btn-up{
      //background-image: url('btn-up.png');
    }
    .btn-over{
      //background-image: url('btn-over.png');
    }
    &.navbar-inverse .navbar-inner {
      padding-right: 20px;
      padding-left: 20px;
      background-color: white;
      background-image: -moz-linear-gradient(top, #28e5f5, #157b86);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#157b86));
      background-image: -webkit-linear-gradient(top, #28e5f5, #157b86);
      background-image: -o-linear-gradient(top, #28e5f5, #157b86);
      background-image: linear-gradient(to bottom, #28e5f5, #157b86);
      background-repeat: repeat-x;
      -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    }
    .nav-collapse {
      margin-top: 25px;
    }
    .navbar-search {
      //padding-top: 5px;
      margin-left: 55px; 
    }
    input.search-query {
      background: #111 !important;
      &:focus {
        color: #ffffff !important;
        text-shadow: none !important;
      }
    }
  }
  
  /* @end */
  
  /* @group Tiles */
  .tiles {
    margin-top: 20px;
    .tile {
      margin-top: 10px !important;
      margin-left: 10px !important;
      cursor: pointer;
      -webkit-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
      -ms-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #555454;
      padding: 8px;
      border: 1px solid #777777;
      border-radius: 5px;
      background: #434242;
      max-height:280px;
      color: white;
      opacity: .6;
       &:hover {
        border-color: #16b0bf;
        -webkit-box-shadow: 0 2px 5px rgba(0, 105, 214, 0.3);
        -moz-box-shadow: 0 2px 5px rgba(0, 105, 214, 0.3);
        box-shadow: 0px 2px 5px rgba(0, 105, 214, 0.3);
        opacity: 1;
        .tile-inner{
          .description {
            display: block;
            opacity: 0.8;
          }
        }
      }
      .tile-inner{
        .tile-img{
          position: relative;
        }
        .description {
          -webkit-transition: opacity 600ms ease-in-out;
          -moz-transition: opacity 600ms ease-in-out;
          -o-transition: opacity 600ms ease-in-out;
          -ms-transition: opacity 600ms ease-in-out;
          transition: opacity 600ms ease-in-out;
          display: block;
          position: absolute;
          overflow: auto;
          max-height: 100px;
          bottom: 0;
          left: 0;
          right: 0;
          background: black;
          padding: 5px;
          opacity: 0;
        }
        .pic {
          height: 220px;
          width: 100%;
        }
        .meta {
          padding: 8px 5px;
        }
        .links a {
          display: inline-block;
          padding: 2px;
          margin-left: 15px;
        }
        .meta {
          .username {
            //font-size: 12px;
          }
          i {
            margin-left: 25px;
          }
        }
      } 
    }
  }
  
  /* @end */
 
 
  /* @group Isotope */
    /**** Isotope Filtering ****/
    
    .isotope-item {
      z-index: 2;
      margin: 7px;
    }
    
    .isotope-hidden.isotope-item {
      pointer-events: none;
      z-index: 1;
    }
    
    /**** Isotope CSS3 transitions ****/
    
    .isotope {
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
      .isotope-item {
        -webkit-transition-duration: 0.8s;
        -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
        -o-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
      }
      -webkit-transition-property: height, width;
      -moz-transition-property: height, width;
      -ms-transition-property: height, width;
      -o-transition-property: height, width;
      transition-property: height, width;
      &.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
        .isotope-item {
          -webkit-transition-duration: 0s;
          -moz-transition-duration: 0s;
          -ms-transition-duration: 0s;
          -o-transition-duration: 0s;
          transition-duration: 0s;
        }
      }
      .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
      }
    }
    
    /**** disabling Isotope CSS3 transitions ****/
  /* @end */
}






/* Large desktop */
@media (min-width: 1200px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  html, body {
    padding: 0 !important;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  html, body {
    padding-top: 0;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {}